<% content_for :header do %>
  <meta property="og:title" content="TreeDee.net"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://treedee.net"/>
  <meta property="og:image" content="http://treedee.net/assets/treedeetree.png"/>
  <meta property="og:site_name" content="TreeDee.net"/>
  <meta property="og:description" content="You can print stuff in 3D without an expensive 3D printer! How? Why with 1980's technology my friend!"/>
<% end %>

<h1 id="title">TreeDee</h1>

<% if flash[:alert] || @error_message %>
<div class="alert alert-error">
  <a href="#" class="close" data-dismiss="alert">×</a>
  <%= flash[:alert] || @error_message %>
</div>
<% end %>

<div id="marketing">
  <ul class="left">
    <li>Revolutionariest 3D printing software that requires no plastic filament, resins or special hardware!</li>
    <li>All you need is a color printer, paper and visual cortex!</li>
    <li>Money back guarantee.</li>
  </ul>
  <ul class="right">
    <li>Works with standard STL files and smooth, smooth integration with <a href="http://www.thingiverse.com/">Thingiverse</a>!</li>
    <li>You'll be printing out 3D objects in seconds!</li>
    <li>Completely FREE!</li>
  </ul>
  <h3>Try it right meow!</h3>
</div>

<form id="thingiverse-form" class="form-inline" action="<%= fetch_objects_path %>" method="post">
  <div class="input-append">
    <input class="input-xxlarge" id="thingiverse-url" name="url" type="text" placeholder="Paste a Thingiverse URL here!">
    <button class="btn btn-large btn-inverse" type="submit"><i class="icon-ok icon-white"></i></button>
  </div>
</form>

<div id="feeds">

  <div id="recent">
  <h4>Recently Printed</h4>
  <% Snapshot.recent.each do |snap| %>
    <%= link_to image_tag( snap.image.url(:thumb) ), object_path( snap.object_uuid ) %>
  <% end %>
  </div>

  <% cache( { action: 'index', action_suffix: 'popular' }, expires_in: 5.minutes ) do %>
  <div id="popular">
    <h4>Popular at Thingiverse</h4>
    <% FeedItem.popular.sample(6).each do |i| %>
      <%= link_to image_tag( i.image ), fetch_objects_url( url: i.link ), method: :post, title: i.title %>
    <% end %>
  </div>
  <% end %>

</div>

<div id="sponsors">
  <h4>Cool Sites!</h4>
  <a href="http://3dprintweekly.com/" title="3D Print Weekly"><img src="/assets/3dprintweekly.png" alt="3D Print Weekly" /></a>
  <a href="http://www.thingiverse.com" title="Thingiverse"><img src="/assets/thingiverse.png" alt="Thingiverse" /></a>
</div>