
<div id="treedee"></div>
<script type="text/javascript">
    var modelToLoad = '<%= raw @object.model.url %>';
</script>

<div id="tools">
    <a href="#" id="print">Print</a>
    <a href="#" id="threedee">Toggle 3D</a>
    <a href="#" id="zoom-in">Zoom In</a>
    <a href="#" id="zoom-out">Zoom Out</a>
</div>
