
<div id="treedee"></div>
<script type="text/javascript">
    var modelToLoad = '<%= raw @object.model.url %>';
</script>

<div id="tools">
    <a href="#" id="print">Print</a>
    <a href="#" id="threedee">Toggle 3D</a>
    <a href="#" id="zoom-in">Zoom In</a>
    <a href="#" id="zoom-out">Zoom Out</a>
    
    <a href="#" id="pan-left">Left</a>
    <a href="#" id="pan-down">Down</a>
    <a href="#" id="pan-up">Up</a>
    <a href="#" id="pan-right">Right</a>

<!--     <a href="#" id="material">Material</a>
    <div id="color-selector">
      <a href="#">Material</a>
      <a href="#">Material</a>
      <a href="#">Material</a>
      <a href="#">Material</a>
      <a href="#">Material</a>
      <a href="#">Material</a>
      <a href="#">Material</a>
    </a> -->
</div>
